.clients {
  width: 2000px;
  margin: 0 auto;

  .form {
    display: flex;
    max-width: 1440px;
    margin-top: 20px;
    .MuiSelect-select{
      padding: 0 ;
      line-height: 50px;
      border-top: none !important;
    }
  }

  .form > * {
    box-sizing: content-box;
    min-width: 100px!important;
    max-width: 200px!important;
    font-size: 14px;

    height: 50px;
  }
}

